.parent{
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(34, 33, 33), black ,rgb(34, 33, 33));
    padding: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    gap: 100px;
    background: linear-gradient(180deg,rgb(34, 33, 33));
}
.filter input{
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    transition: all ease-in-out 0.1s;
}
.filter input:focus{
    transform: translateY(-3px)
}
.custom-dropdown{
    position: relative;
    width: 100%;
    max-width: 300px;
}
.dropdown-selected{
    padding: 10px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}
.dropdown-options{
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 1000;
}
.dropdown-options div{
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.dropdown-options div:hover{
    background: #f0f0f0;
}
.Error-msg{
    color: red;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px 1px 1px rgb(171, 48, 48);
}
.Reset-btn{
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    font-size: 14px;
}
.Reset-btn:hover{
    transform: translateY(-2px);
    background-color: gray;
}

@media(max-width: 768px){
    .filter{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}