.Navbar{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
}
.Navbar .logo img{
    height: 62px;
    width: 62px;
    cursor: pointer;
    border: 2px solid rgba(50, 148, 159, 0.601);
    border-radius: 50%;
    padding: 10px;
    background-color: gray;
}
.logo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.logo span{
    color: white;
    font-weight: 700;
}
.Navbar .text{
    align-self: center;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.Navbar .Nav-Links{
    display: flex;
    align-self: center;
    gap: 40px;
}
.Nav-Links a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
.Nav-Links a:hover{
    color: gray;
}

@media(max-width:768px){
    .Navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .logo{
        height: auto;
        width: auto;
    }
    .Navbar .text{
        font-size: 16px;
        text-align: left;
    }
    .Nav-Links{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    .Nav-Links a{
        font-size: 16px;
        text-align: center;
    }
}